@keyframes slideUp {
  0% {
    transform: translateY(100%);
  }
  100% {
    transform: translateY(0%);
  }
}
@keyframes fadeUp {
  0% {
    opacity: 0%;
    transform: translateY(50%);
  }
  100% {
    opacity: 100%;
    transform: translateY(0%);
  }
}
@keyframes fadeRight {
  0% {
    opacity: 0%;
    transform: translateX(50%);
  }
  100% {
    opacity: 100%;
    transform: translateX(0%);
  }
}
@keyframes zoomIn {
  0% {
    background-size: 100%;
  }
  100% {
    background-size: 200%;
  }
}
