.hero-foot {
  margin-top: 35px;
  background-color: $accentBlack;
  display: flex;
  justify-content: space-between;
  padding: 15px 20px;
  .foot-info {
    width: 457px;
    @include breakpoint-down(small) {
      width: 40%;
    }

    .foot-logo {
      width: 70px;
    }
    p {
      font-size: 0.8rem;
      width: 400px;
      @include breakpoint-down(small) {
        font-size: 0.8rem;
        width: 200px;
      }
    }
  }
  .foot-nav {
    width: 350px;
    cursor: pointer;

    @include breakpoint-down(small) {
      width: 50%;
    }
    .nav-links {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      @include breakpoint-down(medium) {
        justify-content: space-around;
      }
      @include breakpoint-down(small) {
        justify-content: space-evenly;
      }

      li {
        font-size: 1.125rem;
        list-style: none;
        font-family: "Oswald", sans-serif;
        .sub-nav {
          li {
            font-size: 0.875rem;
          }
          a {
            text-decoration: none;
            color: $footWhite;
            transition: ease 0.5s;
          }
          a:hover {
            color: $footWhite_hov;
          }
        }
      }
    }
  }
  .foot-social {
    font-size: 2rem;

    @include breakpoint-down(small) {
      display: flex;
      flex-direction: column;
      font-size: 2rem;
    }
    i:hover {
      color: $footWhite_hov;
      cursor: pointer;
    }
  }
}
