.hero-content {
  margin-top: 35px;
  display: flex;
  justify-content: center;
  padding: 0 25px;
  flex-direction: column;
  @include breakpoint-down(small) {
    margin-bottom: 50px;
  }
  @include breakpoint-down(x-small) {
    flex-direction: column;
  }
  .activitySearch {
    align-self: center;
    input[type="search"] {
      -webkit-appearance: textfield;
      font-family: inherit;
      font-size: 100%;
      text-transform: uppercase;
      background: url("/assets/SVG/Icon feather-search-black.svg") no-repeat 10px
        center;
      background-size: 25px 22px;
      padding: 15px 10px 14px 40px;
      border-radius: 10em;
      transition: all 0.5s;
      background-color: $insetgray;
      box-shadow: inset 0 3px 10px rgba(0,0,0,.2);
      border: 2px solid $insetgray;
      width: 70vw;
    }
    input {
      outline: none;
    }
    input[type="search"]:focus-visible {
      border: 2px solid $mintGreen;
    }
  }
  .geoSearch {
    height: 100%;
    display: flex;
    #map {
      height: 400px;
      width: 100%;
    }
    #sidebar {
      flex-basis: 5rem;
      flex-grow: 1;
      padding: 1rem;
      max-width: 30rem;
      height: 100%;
      box-sizing: border-box;
      display: flex;
      overflow: auto;
      display: flex;
      flex-direction: column;
    }
  }

  .imgContain {
    height: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px 20px;
    grid-template-rows: 300px;
    animation: fadeUp 0.9s ease-in-out;
    @include breakpoint-down(large) {
      width: fit-content;
      gap: 0 20px;
      grid-template-rows: 300px;
      grid-template-columns: 300px 300px;
    }
    @media (max-width: 1160px) {
      grid-template-columns: 290px 290px;
    }
    @include breakpoint-down(medium) {
      width: fit-content;
      gap: 0 10px;
      grid-template-rows: 200px;
      grid-template-columns: 280px 280px;
    }
    @include breakpoint-down(small) {
      grid-template-rows: 200px;
      grid-template-columns: 230px 230px;
    }
    @media (max-width: 768px) {
      display: none;
    }

    .imgBack {
      height: 274px;
      width: 385px;
      padding: 15px 0 0 15px;
      background-color: white;
      border-radius: 10px;
      box-shadow: -2px -2px 5px rgba(0, 0, 0, 0.2);

      .advenImg {
        //   background-image: url("/assets/adventures.png");
        background-color: red;
        background-size: 200%;
        border-radius: 10px;
        box-shadow: 4px 4px 5px rgba(0, 0, 0, 0.2);
        background-position: 15%;
        background-size: cover;
      }
    }
    :nth-child(1) {
      height: 274px;
      width: 385px;
      padding: 15px 0 0 15px;
      @include breakpoint-down(medium) {
        height: 90%;
      }
      .advenImg {
        background-image: url("/assets/mountain.png");
        height: 274px;
        width: 385px;
        @include breakpoint-down(large) {
          height: 100%;
        }
      }
    }
    :nth-child(2) {
      height: 635px;
      width: 385px;
      padding: 15px 0 0 15px;
      margin-top: 50px;
      @include breakpoint-down(medium) {
        height: 575px;
      }

      .advenImg {
        background-image: url("/assets/river.png");
        height: 635px;
        width: 385px;
        @include breakpoint-down(large) {
          height: 100%;
        }
      }
    }
    :nth-child(3) {
      height: 555px;
      width: 385px;
      padding: 15px 0 0 15px;

      @include breakpoint-down(medium) {
        height: 475px;
      }

      .advenImg {
        background-image: url("/assets/waterfall.png");
        height: 555px;
        width: 385px;
        @include breakpoint-down(large) {
          height: 100%;
        }
      }
    }
  }
  .advenTxt {
    height: 200px;
    width: 500px;
    align-self: center;
    margin-left: 15px;
    animation: fadeRight 0.9s ease-in-out;
    @include breakpoint-down(large) {
      width: 400px;
    }
    @include breakpoint-down(medium) {
      width: 300px;
    }
    @media (max-width: 768px) {
      width: 600px;
    }
    @include breakpoint-down(x-small) {
      width: 420px;
    }
    h2 {
      @include breakpoint-down(x-small) {
        font-size: 2.5rem;
      }
    }

    p {
      @include breakpoint-down(large) {
        overflow: hidden;
        text-overflow: ellipsis;
        height: 110px;
      }
      @include breakpoint-down(medium) {
        height: 95px;
      }
    }
    .morph {
      :hover {
        i {
          margin-left: 40px;
          transition: ease 1s;
        }
      }
    }
    .callAction {
      cursor: pointer;
      padding: 6px 10px 8px 8px;
      margin-top: 10px;
      border: 2px solid $accentBlack;
      border-radius: 10px;
      font-family: "Oswald", sans-serif;
      font-size: 1.25rem;
      background-color: transparent;

      i {
        vertical-align: middle;
        margin-left: 10px;
        transition: ease-out 1s;
      }
    }
  }
  .about-img {
    background-image: url("/assets/team.jpg");
    background-size: cover;
    height: 580px;
    width: 1459px;
    border-radius: 10px;
    box-shadow: inset 0 0px 12px rgba(0, 0, 0, 0.5);
  }
}
.hero-about {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin-top: 15px;
  padding: 0 25px;

  .about-header {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin-bottom: 30px;
    align-self: start;
    width: 670px;
    animation: fadeUp 1s ease;

    div:last-child {
      width: 5%;
      border-bottom: 4px solid $accentBlack;
      justify-self: start;
      margin-left: 8px;
    }
    h3 {
      border-bottom: 4px solid $accentBlack;
      padding: 0 15px;
      justify-self: end;
      @include breakpoint-down(small) {
        padding: 0;
      }
    }
  }
  .about-container {
    display: flex;
    margin-bottom: 15px;

    .about-info {
      width: 995px;
      height: 300px;
      margin-right: 20px;
      text-overflow: ellipsis;
      overflow: hidden;
    }
    .contact-info {
      width: 450px;
      height: 300px;
      padding-left: 20px;
      border-left: 4px solid $accentBlack;
      p {
        overflow: hidden;
        height: 152px;
        text-overflow: ellipsis;
      }
      .contact-data {
        .phone {
          display: flex;
          align-items: center;
          p {
            margin-left: 10px;
            margin-top: 8px;
            height: 20px;
          }
        }
        .email {
          display: flex;
          align-items: center;
          p {
            margin-left: 12px;
            margin-top: 8px;
            height: 20px;
          }
        }
      }
    }
  }
}
.hero-blog {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  .tips {
    border-radius: 10px;
    overflow: hidden;
    margin-top: 25px;
    padding: 0 50px;

    @include breakpoint-down(small) {
      margin-top: -25px;
    }
    input {
      position: absolute;
      opacity: 0;
      z-index: -1;
    }
    
    .tip {
      box-shadow: 0 2px 5px rgba(0,0,0,.2);
      color: $accentBlack;
      overflow: hidden;
      border-radius: 10px;
      margin-bottom: 10px;

      [type=checkbox] {
        box-sizing: border-box;
        padding: 0;
      }
      .tipLabel {
        display: flex;
        justify-content: space-between;
        padding: 10px;
        background-color: $offWhite;
        cursor: pointer;
        align-items: center;
        transition: ease .5s;
      }
      .tipLabel::after {
        content: "\276F";
        width: 1em;
        text-align: center;
        transition: all .35s;
      }
      .tipContent {
        max-height: 0vh;
        padding: 0 1em;
        color: $bodyGray;
        background: $insetgray;
        transition: all .35s;
      }
      input:checked ~ .tipContent {
        max-height: 100vh;
        padding: 1em;
      }

      input:checked ~ .tipLabel {
          background: $offWhite;
        }

    }

  }
  input:checked ~ .tipLabel::after {
    transform: rotateZ(90deg)
    }
  }

  .blog-header {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
    // width: 30%;
    margin-bottom: 30px;
    align-self: center;
    animation: fadeUp 1s ease;

    div:first-child {
      width: 15%;
      border-bottom: 4px solid $accentBlack;
      justify-self: end;
      margin-right: 8px;
    }
    div:last-child {
      width: 15%;
      border-bottom: 4px solid $accentBlack;
      justify-self: start;
      margin-left: 8px;
    }
    h3 {
      border-bottom: 4px solid $accentBlack;
      padding: 0 15px;
      @include breakpoint-down(small) {
        padding: 0;
      }
    }
  }
  .blog-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px 25px;
    animation: fadeRight 1s ease;
    animation-delay: 1s;
    padding: 0 25px;

    @include breakpoint-down(small) {
      grid-template-columns: repeat(2, 1fr);
      justify-content: center;
    }
    @include breakpoint-down(x-small) {
      grid-template-columns: repeat(1, 1fr);
      justify-content: center;
    }
    :nth-child(1) {
      background-image: url("/assets/canyon.png");
    }
    :nth-child(2) {
      background-image: url("/assets/hike.png");
    }
    :nth-child(3) {
      background-image: url("/assets/diner.png");
    }
    .blog-card:hover,
    .blog-card:focus {
      background-size: 230%;
      @include breakpoint-down(large) {
        background-size: 260%;
      }
      @include breakpoint-down(medium) {
        background-size: cover;
      }
    }
    .blog-card {
      display: flex;
      height: 530px;
      width: 417px;
      align-items: flex-end;
      border-radius: 10px;
      background-position: center;
      background-size: 195%;
      box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3);
      cursor: pointer;
      transition: 1s ease all;
      @include breakpoint-down(large) {
        width: 360px;
        background-size: 225%;
      }
      @media (max-width: 1160px) {
        width: 320px;
      }
      @include breakpoint-down(medium) {
        height: 460px;
        width: 277px;
        background-position: top;
        background-size: cover;
      }
      @include breakpoint-down(small) {
        height: 460px;
        width: 300px;
        margin-bottom: 20px;
      }
      @include breakpoint-down(x-small) {
        height: 430px;
        width: 357px;
      }

      .blog-overlay {
        height: 217px;
        padding: 20px 20px;
        background-image: none;
        background-color: $accentBlack;
        box-shadow: 0px -6px 12px rgba(0, 0, 0, 0.5);
        border-radius: 0 0 10px 10px;
        display: flex;
        flex-direction: column;

        h4 {
          color: white;
          background-image: none;
        }
        .callRead {
          color: $offWhite;
          cursor: pointer;
          padding: 3px 6px 4px 6px;
          margin: 10px auto;
          border: 2px solid $offWhite;
          border-radius: 10px;
          font-family: "Oswald", sans-serif;
          font-size: 1.25rem;
          background-color: transparent;
          transition: ease-out 0.25s;
          background-image: none;
        }
        a {
          background-image: none;
          align-self: flex-end;
          text-decoration: none;
        }
        i {
          background-image: none;
        }
        .callRead:hover {
          color: $offWhite_hov;
          border: 2px solid $offWhite_hov;
          transition: ease-in 0.5s;
        }

        p {
          color: $offWhite;
          height: 79px;
          width: 377px;
          overflow: hidden;
          text-overflow: ellipsis;
          background-image: none;
        }
      }
    }
    .blog-card:nth-child(3) {
      @include breakpoint-down(small) {
        display: none;
      }
      @include breakpoint-down(x-small) {
        display: flex;
      }
    }
  }
