//Colors
$accentBlack: #1a1818;
$insetgray: #f2f2f2;
$offWhite: rgba(255, 255, 255, 0.64);
$offWhite_hov: rgba(255, 255, 255, 0.9);
$footWhite: rgba(255, 255, 255, 0.4);
$footWhite_hov: rgba(255, 255, 255, 0.7);
$bodyGray: #707070;
$mintGreen: #0ec254;
